<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JagoBharat</title>

    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <link rel="stylesheet" href="css/carousel.css" />
    <style>
      .dropbtn {
        color: white;
        font-size: 17px;
        padding: 7px 13px;
        /* border-radius: 3px; */
        font-size: 25px;

        text-transform: uppercase;
        background-color: transparent;
        border: none;
      }

      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }

      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 180px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 0;
      }

      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
        font-size: 17px;
        padding: 0 30px;
        text-transform: uppercase;
      }

      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #ddd;
      }

      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
      @media screen and (max-width: 768px) {
        .fi {
          flex-direction: column;
          padding: 30px;
        }
      }
      /* Change the background color of the dropdown button when the dropdown content is shown */
    </style>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img src="Images/logo.jpg" class="logo" />
      <!-- <label class="logo">JagoBharat</label> -->
      <ul>
        <li><a class="#" href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#teams">Teams</a></li>
        <li><a href="#gallery">Gallery</a></li>

        <% if (data) { %>
        <li><a href="#">Feedback</a></li>
        <li class="dropdown">
          <button class="dropbtn"><i class="fa-solid fa-user"></i></button>
          <div class="dropdown-content">
            <a href="#"><%= data.username%></a>
            <a href="/logout">Logout</a>
          </div>
        </li>
        <% }else{ %>
        <li><a href="/login">Login</a></li>
        <% } %>
      </ul>
    </nav>

    <div class="slider">
      <div class="slide"></div>
      <div class="slide"></div>
      <div class="slide"></div>
      <div class="slide"></div>
      <div class="slide"></div>
      <div class="slide">
        <div class="content">
          <h3>Welcome To JagoBharat Mission</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat
            labore, sint cupiditate distinctio tempora reiciendis.
          </p>
          <p><a href="#" class="btn">Become a Volutnteer</a></p>
        </div>
      </div>
    </div>

    <!-- <section class="home">
        
      
        <div class="content">
            <h3>Welcome To JagoBharat Mission</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat labore, sint cupiditate distinctio tempora reiciendis.</p>
            <p><a href="#" class="btn">Become a Volutnteer</a></p>
        </div>
    
    </section> -->

    <div class="ctr-content">
      <section class="about" id="about">
        <h1 class="heading"><span>ABOUT</span> <span class="us">US</span></h1>

        <div class="row1">
          <div class="image">
            <img src="Images/a1.jpeg" alt="" />
          </div>

          <div class="content">
            <h3>What Motivates us for Mission</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus quea ullam, enim tempora ipsum fuga alias quae
              ratione a officiis id temporibus autem? Quod nemo facilis
              cupiditate. Ex, vel?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
              amet enim quod veritatis, nihil voluptas culpa! Neque consectetur
              obcaecati sapiente? Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Ad similique fuga et expedita voluptatem, in
              nihil voluptas doloribus blanditiis soluta tenetur, tempora cumque
              incidunt molestiae amet harum voluptate quas perspiciatis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
              amet enim quod veritatis, nihil voluptas culpa! Neque consectetur
              obcaecati sapiente? Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Ad similique fuga et expedita voluptatem, in
              nihil voluptas doloribus blanditiis soluta tenetur, tempora cumque
              incidunt molestiae amet harum voluptate quas perspiciatis.
            </p>
            <a href="#" class="btn">learn more</a>
          </div>
        </div>
      </section>
    </div>

    <div class="ctr-teams">
      <section class="about" id="teams">
        <h1 class="heading"><span>TEAMS</span></h1>
        <div class="row row0">
          <div class="image">
            <img src="Images/m2.jpg" alt="" />
          </div>

          <div class="content">
            <h3>What Motivates us for Mission</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus quea ullam, enim tempora ipsum fuga alias quae
              ratione a officiis id temporibus autem? Quod nemo facilis
              cupiditate. Ex, vel?
            </p>
          </div>
        </div>

        <hr />
      </section>

      <section class="about about1">
        <div class="row row2">
          <div class="content">
            <h3>What Motivates us for Mission</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus quea ullam, enim tempora ipsum fuga alias quae
              ratione a officiis id temporibus autem? Quod nemo facilis
              cupiditate. Ex, vel?
            </p>
          </div>

          <div class="image">
            <img src="Images/m3.jpg" alt="" />
          </div>
        </div>

        <hr />
      </section>

      <section class="about about1">
        <div class="row row0">
          <div class="image">
            <img src="Images/m2.jpg" alt="" />
          </div>

          <div class="content">
            <h3>What Motivates us for Mission</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus quea ullam, enim tempora ipsum fuga alias quae
              ratione a officiis id temporibus autem? Quod nemo facilis
              cupiditate. Ex, vel?
            </p>
          </div>
        </div>

        <hr />
      </section>

      <section class="about about1">
        <div class="row row2">
          <div class="content">
            <h3>What Motivates us for Mission</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus quea ullam, enim tempora ipsum fuga alias quae
              ratione a officiis id temporibus autem? Quod nemo facilis
              cupiditate. Ex, vel?
            </p>
          </div>

          <div class="image">
            <img src="Images/m1.jpg" alt="" />
          </div>
        </div>

        <hr />
      </section>
    </div>

    <h1 class="heading" id="gallery"><span>Gallery</span></h1>
    <hr
      width="50%"
      style="
        margin-left: 25%;
        margin-top: -2rem;
        margin-bottom: 2rem;
        border: 2px solid red;
      "
    />
    <div class="grid-container-main">
      <div class="grid-container">
        <div class="item1"><img src="Images/home.jpeg" /></div>
        <div class="item2"><img src="Images/a1.jpeg" /></div>
        <div class="item3"><img src="Images/h5.jpeg" /></div>
        <div class="item4"><img src="Images/h3.jpeg" /></div>
        <div class="item5"><img src="Images/h6.jpeg" /></div>
        <!-- Centered item -->
        <!-- <div class="item6"><img src="Images/t5.jpeg"></div> -->
        <div class="slider1 item6">
          <div class="slide1"></div>
          <div class="slide1"></div>
          <div class="slide1"></div>
          <div class="slide1"></div>
          <div class="slide1"></div>
          <div class="slide1"></div>
        </div>
        <div class="item7"><img src="Images/m1.jpg" /></div>
        <div class="item8"><img src="Images/m5.jpg" /></div>
        <div class="item9"><img src="Images/m6.jpg" /></div>
        <div class="item10"><img src="Images/m2.jpg" /></div>
        <div class="item11"><img src="Images/m4.jpg" /></div>
        <div class="item12"><img src="Images/m3.jpg" /></div>
        <div class="item13"><img src="Images/m7.jpg" /></div>
      </div>
    </div>
    <div
      class="fi"
      style="
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <h1>
        बिना किसी कारण के दूसरों की मदद करें और बदले में कुछ पाने की उम्मीद किए
        बिना दें!!!
      </h1>
      <script async src="https://js.stripe.com/v3/buy-button.js"></script>

      <stripe-buy-button
        buy-button-id="buy_btn_1OusXSSGLp42UHm4zVHWQ6af"
        publishable-key="pk_test_51NCgZhSGLp42UHm458LtuJxjZMzLJwdJxmhM2WaPhX25LTnBn2YlN6saQS6qa7NngUESV6t1QNt2cbFKt1oBwIIH00xe4LUH7z"
      >
      </stripe-buy-button>
    </div>
    <div class="footer">
      This website belongs to <strong>JagoBharat ORG</strong>.
    </div>
    <script
      src="https://kit.fontawesome.com/3a1294db06.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
