body{
    overflow-x: hidden;
}

.slider {
    overflow: hidden;
    width: 100vw;
    /* height: 110vh; */
    height: 100vh;
    /* position: relative; */
  }
  
  .slider .slide {
    position: absolute;
    margin-top: 81px;
    margin-bottom: 200px;
    left: 0;
    width: 100%;
    min-height: 85%;
    /* border: 5px solid green; */
    background-size: 100% 100%;
    background-position: center;
    animation: slide 27.5s infinite;
  }
  
  .slider .slide:nth-child(1) {
    background-image: url('../Images/ngo2.jpg');
    animation-delay: -0;
  }
  
  .slider .slide:nth-child(2) {
    background-image: url('../Images/ngo1.jpg');
    animation-delay: -5.5s;
  }
    
  .slider .slide:nth-child(3) {
    background-image: url('../Images/ngo6.jpg');
    animation-delay: -11s;
  }
    
  .slider .slide:nth-child(4) {
    background-image: url('../Images/ngo4.jpg');
    animation-delay: -16.5s;
  }
  
  .slider .slide:nth-child(5) {
    background-image: url('../Images/ngo7.jpg');
    animation-delay: -22s;
  }
  
  @keyframes slide {
    0%, 18%, 100% {
      transform: translateX(0);
      animation-timing-function: ease;
    }
    20% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    98% {
      transform: translateX(100%);
      animation-timing-function: ease;
    }
  }








  .slider1 {
    overflow: hidden;
    /* width: 5vw; */
    /* height: 110vh; */
    /* height: 100vh; */
    position: relative;
  }
  
  .slider1 .slide1 {
    position:absolute;
    margin-bottom: 200px;
    left: 0;
    width: 100%;
    min-height: 100%;
    /* border: 5px solid green; */
    background-size: 100% 100%;
    background-position: center;
    animation: slide 27.5s infinite;
  }
  
  .slider1 .slide1:nth-child(1) {
    background-image: url('../Images/ngo2.jpg');
    animation-delay: -0;
  }
  
  .slider1 .slide1:nth-child(2) {
    background-image: url('../Images/ngo1.jpg');
    animation-delay: -5.5s;
  }
    
  .slider1 .slide1:nth-child(3) {
    background-image: url('../Images/ngo6.jpg');
    animation-delay: -11s;
  }
    
  .slider1 .slide1:nth-child(4) {
    background-image: url('../Images/ngo4.jpg');
    animation-delay: -16.5s;
  }
  
  .slider1 .slide1:nth-child(5) {
    background-image: url('../Images/ngo7.jpg');
    animation-delay: -22s;
  }
  
  @keyframes slide1 {
    0%, 18%, 100% {
      transform: translateX(0);
      animation-timing-function: ease;
    }
    20% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    98% {
      transform: translateX(100%);
      animation-timing-function: ease;
    }
  }










  @media (max-width:1200px) {
    .slider .slide{
      min-height: 90%;
    }
  }

    @media (max-width:600px) {
      .slider .slide{
        min-height: 50%;
      }

      .slider{
        height: 60vh;
      }
  }


  